#brand{
    width: 100%;
    background:#f9f9f9;
    padding-top: 20px;
    .container{
        background:#fff;
        box-sizing: border-box;
        border: 1px solid #eee;
        // height: 133px;
        padding: 0 18px;
        font-size: 14px;
        color: #686868;
        p{
            height: 48px;
            border-bottom: 1px dashed #eee;
            line-height: 48px;
            a{
                color: #686868;
                margin-left: 25px;
                
            }
        }
        div{
            padding:15px 0;
            ul{
                vertical-align: top;
                display: inline-block;
                margin: 0 38px 0 21px; 
                width: 892px;
                border-top: 1px solid #eee;
                border-left: 1px solid #eee;
                li{
                    border-right: 1px solid #eee;
                    border-bottom: 1px solid #eee;
                    float: left;
                    height: 48px;
                    position: relative;
                    box-sizing: border-box;
                    a{
                        box-sizing: border-box;
                        display: inline-block;
                        width: 98px;
                        height: 48px;
                        color: #686868;
                        text-align: center;
                        line-height: 48px;
                        img{
                            width: 80px;
                            height: 40px;
                        }
                        div{
                            width: 96px;
                            height: 46px;
                            display: none;
                            background-color: #fff;
                            line-height: 48px;
                            font-size: 12px;
                            overflow: hidden;
                            position: absolute;
                            padding: 0;
                            top: 0;
                            left: 0;
                            z-index: 12;
                        }
                    }
                }
            }
            span:last-child{
                cursor: pointer;
            }
        }
    }
}


#yz-sp{
    background: #f9f9f9;
    padding-top: 20px;
    p{
        width: 100%;
        background-color: #fff;
        height: 50px;
        box-sizing: border-box;
        border: 1px solid #eee;
        padding: 0 20px;
        span{
            margin-right: 10px;
            border: 1px solid #eee;
            display: inline-block;
            margin: 14px 0;
            font-size: 12px;
            width: 56px;
            height: 18px;
            text-align: center;
            color: #999999;
            cursor: pointer;
            i{
                color: #999999;
            }
        }
        #fdong{
            float: right;
            width: 250px;
            font-size: 12px;
            margin-right: 0;
            border: 0;
            color: #686868;
            cursor: auto;
            margin: 14px 0;
            text-decoration: none;
            b{
                color: #ff4965;
            }
        }
        .light{
            background-color: #ff4965;
            font-weight: 700;
            color: #fff;
            border: 1px solid #ff4965;
            i{
                font-weight: 700;
                color: #fff;
            }
        }
    }
    ul{
        margin-top: 20px;
        float: left;
        width: 1100px;
        li{
            float: left;
            width: 255px;
            height: 330px;
            margin: 0 20px 20px 0;
            background: #fff;
            font-size: 12px;
            border: 1px solid #eee;
            box-sizing: border-box;
            a{
                width: 255px;
                height: 330px;
                display: inline-block;
                img{
                    width: 253px;
                }
                h3{
                    font-size: 14px;
                    height: 22px;
                    line-height: 22px;
                    overflow: hidden;
                    color: #666;
                    text-overflow: ellipsis;
                    padding: 0 10px;
                    margin: 10px 0;
                }
                h4{
                    color: #ff4965;
                    font-size: 18px;
                    font-weight: 700;
                    span:nth-child(1){
                        font-size: 26px;
                    }
                }
            }
        }
    }
    #yeshu{
        text-align: center;
        color: #686868;
        span{
            display: inline-block;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            line-height: 30px;
            text-align: center;
            border:1px solid #ccc;
            background-color: #fff;
            cursor: pointer;
        }
        .yema{
            background-color:#ff4965;
            color: #fff;
            border:1px solid #ff4965;
        }
        #xiayiye{
            width: 60px;
            height: 30px;
            display: inline-block;
            border-radius: 20px;
            line-height: 30px;
            text-align: center;
            border:1px solid #ccc;
            background-color: #fff;
            cursor: pointer;
        }
    }
}